@import "tailwindcss";

@layer theme {
  :root, :host {
    /* brand color palette */
    --color-brown-dark: #753b06;
    --color-yellow-light: #f7a357;
    --color-orange: #f57a0c; /* primary */
    --color-brown-medium: #754d29;
    --color-orange-dark: #c2610a;
  }
}